#side-bar-contact {
    background: white;
    padding: 0px;
    box-shadow: 2px 0px 15px #ccc;
}

#side-bar-contact .active {
    background: #e3f1ff;
}

#side-bar-contact .active .name-contact, #side-bar-contact .active .hour, #side-bar-contact .active .preview {
    font-weight: 600;
    color: black;
}

#side-bar-contact .search {
    padding: 19px 30px;
}

#side-bar-contact .search input {
    display: block;
    width: 100%;
    border: 1px solid #d6dfe6;
    padding: 5px 10px;
    border-radius: 5px;
}

#contact ul {
    list-style: none;
    display: block;
    margin-left: -15px;
}

#contact {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
}

#contact:hover {
    background: #d6dfe6;
}

.meta {
    margin-left: 10px;
}

.meta-chat {
    margin-left: 10px;
}

.meta-head {
    margin-bottom: 5px;
}

.preview {
    max-width: 200px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.name-contact {
    color: black;
    margin-right: 20px;
    font-size: 16px;
    padding: 0px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; */
}

#content-chat {
    padding-right: 0px;
}

.hour {
    margin-left: 60px;
    color: black;
    font-size: 14px;
}

.meta p {
    margin: 0px;
}

.wrap {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.contact-profile {
    background: white;
    padding: 15px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 15px #ccc;
}

.contact-profile p {
    margin: 0;
    margin-left: 10px;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.message {
    margin-top: 15px;
}

.img-user-chat {
    width: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.message ul {
    list-style: none;
    padding: 10px;
}

.reply {
    display: flex;
    margin-bottom: 15px;
}

.sent {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.noidung-chat {
    padding: 15px;
    color: black;
    font-size: 14px;
    background: white;
    max-width: 350px;
    border-radius: 4px;
}

.noidung-chat p {
    margin-bottom: 0px;
}

.noidung-chat-sent {
    padding: 15px;
    color: white;
    font-size: 14px;
    background: #0986bf;
    max-width: 250px;
    border-radius: 4px;
}

.noidung-chat-sent p {
    margin-bottom: 0px;
}

.img-file {
    width: 37px;
}

.file-name {
    font-size: 14px;
    margin-right: 50px;
}

.file-size {
    color: #7d858e;
    font-size: 12px;
}

.img-download {
    width: 15px;
}

.message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

.block {
    overflow-y: auto;
    height: calc(100vh - 176px);
}

.wrap-input-chat input {
    width: 100%;
    height: 50px;
    border: none;
    padding: 10px;
}

.wrap-input-chat {
    background: white;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.wrap-input-chat input:focus {
    outline: none;
}

.wrap-input-chat button {
    border: none;
    background: none;
    margin-right: 10px;
}

.group-button {
    display: flex;
}

.btn-download {
    border: none;
    background: none;
}

@media screen and (max-width:768px) {
    .meta {
        display: none;
    }

    .wrap img {
        margin: auto;
    }

    ul {
        padding-inline-start: 0px !important;
    }

    .block {
        margin-left: 5px;
    }

    .search input {
        margin-left: 5px;
    }
}
