*{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
:focus {
    outline: none;
}
/*Custom datepicker*/
.ui-widget.ui-widget-content {
    border: none;
    box-shadow: 0 0 5px #777;
}

.ui-datepicker {
    width: 20em;
}
#btn-xuatfile ul{
    position: absolute !important;
    transform: translate3d(0px, 41px, 0px) !important;
    top: 0px !important; 
    left: 0px !important;
    will-change: transform !important;
    text-align: left;
    min-width: 121px !important;
}

.ui-datepicker td span,
.ui-datepicker td a {
    padding: .5em;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    padding: 0;
    line-height: 30px;
    font-weight: bold !important;
}

.ui-datepicker td a:hover {
    background: #0064b0;
    color: #FFF;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: none;
    background: none;
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background: #0064b0;
    color: #FFF;
}

.ui-datepicker-calendar thead {
    background: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.ui-datepicker-calendar thead tr th span {
    color: #222;
    font-weight: normal;
}

.ui-datepicker-title select {
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.ui-datepicker-title select:last-child {
    margin-left: 10px;
}

.ui-datepicker .ui-datepicker-header {
    background: none;
    border: none;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: 'Open Sans', sans-serif;
}

.info-header {
    display: flex;
}

.dropmenu-info-header a {
    color: black;
}

.dropmenu-info-header li {
    padding: 5px 10px;
    border-bottom: 1px solid #dae1ea;
}

.dropmenu-info-header li:last-child {
    border-bottom: none;
}

.dropmenu-info-header img {
    margin-right: 25px;
}

.dropmenu-info-header p {
    margin-bottom: 0px;
}

.block-dropmenu-info-header {
    display: flex;
}

.dropmenu-info-header {
    width: 180px;
}

.row>div {
    margin-top: 16px;
}

.modal-title {
    text-transform: uppercase;
    font-weight: 700;
    color: #0064b0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d6dfe6;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    min-height: 40px;
}

.form-group {
    margin-bottom: 0;
}

.cus-modal label {
    font-weight: 600;
}

.cus-modal .modal-header {
    border-bottom: 1px solid #ccc;
}

.modal-footer button {
    font-size: 14px;
}

.modal-footer button.btn-close {
    background: #ccc;
    color: #fff;
    margin-right: 15px;
}

.modal-header .close>span {
    font-size: 1.5rem;
}

.cus-btn {
    color: #fff;
    min-height: 40px;
    line-height: 28px;
}

.cus-btn:hover {
    color: #fff;
}

.text-kich-hoat {
    color: #25d466;
}

.text-chuakichhoat {
    color: #e61919;
}

.cus-btn i,
.cus-btn svg {
    color: #fff;
    font-size: 20px;
    margin-right: 15px;
}

.select2.form-control {
    width: 100%;
}

.select2-container,
.select2-container--default .select2-selection--single,
.form-control {
    background: #f9fcff;
}

.form-search .select2-container, .form-search .select2-container--default .select2-selection--single, .form-search .form-control {
    background: #fff;
}

.select2-container .select2-selection--single {
    height: 40px;
    border: 1px solid #d6dfe6;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    right: 10px;
    top: 0;
}

.date-picker {
    background: #f9fcff url(../images/calendar-ic.png) no-repeat right center;
    background-position-x: 97%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 8px 7px 0 7px;
    border-color: #0064b0 transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #0064b0 transparent;
    border-width: 0 7px 8px 7px;
}

.form-search select,
.form-search .select2,
.form-search input {
    min-width: 140px;
    max-width: 240px;
    margin-right: 15px;
}

.form-search input {
    height: 40px;
}

.title-page-name {
    text-transform: uppercase;
    color: #0064b0;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.content-data {
    position: relative;
    min-height: calc(100vh - 170px);
    padding-bottom: 80px;
}

.lst-menu-title {
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    margin: 0;
}

table.dataTable.no-footer {
    border-bottom: none;
    box-shadow: 0 0 10px #aaa;
    border-radius: 5px;
    margin: 15px 0;
    overflow: hidden;
}



form .form-group label {
    font-weight: 600;
}
.table-data {
    overflow: auto;
    padding: 0 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 2px 10px;
    border-radius: 5px;
    border: none;
    margin: 0 2px;
    border: none;
    font-weight: 700;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #458aff !important;
    color: #fff !important;
    border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border: none;
    background: rgba(0, 100, 176, 0.8) !important;
    color: #fff !important;
}

.form-control:focus {
    box-shadow: none;
}

.tab-menu {
    border: none;
    margin-bottom: 20px;
}

.tab-menu li {
    margin-right: 10px;
}

.color-numbercbccvc tr td p {
    font-size: 14px;
    font-weight: bold;
    color: #458aff;
}

.color-numbercbccvc tr td span p {
    font-size: 14px;
    font-weight: bold;
    color: #151937;
}

.table.dataTable thead th {
    padding: 10px 18px;
    border-bottom: 1px solid #d0d0d0 !important;
}

.dataTables_wrapper .dataTables_scroll {
    clear: both;
}

thead {
    background: white !important;
}

thead th {
    color: black;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #dee2e6;
}

#table-body-trich-ngang td {
    border-right: none;
    border-bottom: 1px solid #dee2e6;
}

.anhthe {
    width: 49px;
    height: 63px;
    margin-bottom: 10px;
}

.txt-name {
    font-weight: bold;
}

/* table.dataTable thead .sorting:first-child,
table.dataTable thead .sorting_asc:first-child,
table.dataTable thead .sorting_desc:first-child {
    background-image: none;
} */


/* table.dataTable thead .sorting:last-child,
table.dataTable thead .sorting_asc:last-child,
table.dataTable thead .sorting_desc:last-child {
    background-image: none !important;
} */

table.dataTable>thead .sorting:before,
table.dataTable>thead .sorting_asc:before,
table.dataTable>thead .sorting_desc:before,
table.dataTable>thead .sorting_asc_disabled:before,
table.dataTable>thead .sorting_desc_disabled:before {
    right: 1em;
    content: none;
}

table.dataTable>thead .sorting:after,
table.dataTable>thead .sorting_asc:after,
table.dataTable>thead .sorting_desc:after,
table.dataTable>thead .sorting_asc_disabled:after,
table.dataTable>thead .sorting_desc_disabled:after {
    right: .5em;
    content: none;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none;
}

.sohieu {
    color: #458aff;
    font-weight: bold;
}

.name-avatar {
    font-weight: bold;
}

#table-info img {
    width: 49px;
    height: 63px;
}

.btn-info {
    background-color: #45bcff;
    color: #ffffff;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    background-color: #458aff;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-weight: normal;

}

.btn-secondary {
    background-color: #d2d9de;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-weight: normal;
}
.modal-body{
    margin-bottom: 20px;
}

#table-info img {
    width: 49px;
    height: 63px;
}

.table.dataTable thead th {
    padding: 10px 18px;
    border-bottom: 1px solid #d0d0d0 !important;
    font-family: OpenSans;
}

.dataTables_wrapper .dataTables_scroll {
    clear: both;
}

thead {
    background: white !important;
}

thead th {
    color: black;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 16px 18px;
    border-bottom: 1px solid #dee2e6;
}

table.dataTable.no-footer {
    border-bottom: none;
}

#table-body-trich-ngang td {
    border-right: none;
    border-bottom: 1px solid #dee2e6;
}

.anhthe {
    width: 49px;
    height: 63px;
    margin-bottom: 10px;
}

.txt-name {
    font-weight: bold;
}

/* table.dataTable thead .sorting:first-child,
table.dataTable thead .sorting_asc:first-child,
table.dataTable thead .sorting_desc:first-child {
    background-image: none !important;
} */


/* table.dataTable thead .sorting:last-child,
table.dataTable thead .sorting_asc:last-child,
table.dataTable thead .sorting_desc:last-child {
    background-image: none !important;
} */

table.dataTable>thead .sorting:before,
table.dataTable>thead .sorting_asc:before,
table.dataTable>thead .sorting_desc:before,
table.dataTable>thead .sorting_asc_disabled:before,
table.dataTable>thead .sorting_desc_disabled:before {
    right: 1em;
    content: none;
}

table.dataTable>thead .sorting:after,
table.dataTable>thead .sorting_asc:after,
table.dataTable>thead .sorting_desc:after,
table.dataTable>thead .sorting_asc_disabled:after,
table.dataTable>thead .sorting_desc_disabled:after {
    right: .5em;
    content: none;
}

.table.dataTable tbody tr {
    background-color: #fff !important;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
    background-color: #fff;
}

table.dataTable.display tbody tr.odd>.sorting_1,
table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #fff !important;
}

table.dataTable.display tbody tr.even>.sorting_1,
table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: #fff !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none;
}

.sohieu {
    color: #458aff;
    font-weight: bold;
}

div.dataTables_wrapper {
    margin: 0 auto;
}

.name-avatar {
    font-weight: bold;
}

#table-info img {
    width: 49px;
    height: 63px;
}

.dialog-confirm {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}

.form-search {
    display: flex;
    justify-content: flex-end;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show>.btn-info.dropdown-toggle {
    background-color: #4267b2;
    box-shadow: none !important;
}

.btn-info:hover {
    border-color: none;
    background-color: #4267b2;
}

.no-tab {
    min-height: calc(100vh - 110px) !important;
}

.no-fix-height {
    min-height: auto !important;
}
.btn-primary:focus{
    background-color: #4267b2;
    border-color: #4267b2;
    font-weight: normal;
}
#form-timkiem-nghihuu{
    justify-content: flex-start !important;
}
#form-timkiem-nghihuu select{
    width: 100% !important;
}
.input-search-nghihuu{
    width: 250px !important;
}
#select-nghihuu .select2-container{
    width: 275px !important;
}
#form-da-nghi-huu select{
    width: 240px !important;
}
#form-search-datiepnhan select{
    width: 240px !important;
}
.form-group select{
    width: 240px;
}
.modal-title-17px{
    font-size: 17px;
} 
.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #4267b2;
   border-color: none; 
}
.modal-dialog .select2-container {
    display: block;
    width: 100%;
}
.dataTables_empty{
    padding: 30px !important;
    color: #7b93a5;
    font-size: 14px;
}
.dropMenu-cauhinhcot{
    background: white;
    width: auto;
    display: none;
    position: absolute;
    top: 110%;
    left: 15;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0 0 10px #aaa;
    overflow: auto !important;
    max-height: 32vh;
}
.block-cauhinhcot{
    padding: 10px;
    border-bottom: 1px solid #dae1ea;
    display: flex;
    align-items: center;
}
.block-cauhinhcot input{
    margin-right: 10px;
}
.block-cauhinhcot:last-child{
    border-bottom: none;
}
.dropdown-toggle::after{
    display: none !important;
}
::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #999; 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #ccc; 
}
