.right-footer{
    float: right;
}
.right-footer button{
    padding: 6px 50px;
}
.box-search button span {
    color: #fff;
}
.box-search button svg{
    color: #fff;
    margin-right: 5px;
    font-size: 20px;
}
.title-page-name{
    color: #0064b0;
    font-size: 20px;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.form-group input{
    margin-right: 20px;
}
.table.dataTable thead th{
 border-bottom: 1px solid #dae1ea !important;
    background: #ffff !important;
}
.show>.btn-secondary.dropdown-toggle{
    padding: 6px 50px;
}
.btn-secondary{
    padding: 10px 30px;
    color: 14px;
}
.dropdown-menu.show{
    transform: translate3d(0px, -130px, 0px);
}
.modal-content {
    width: 693px;
    border-radius: 8px;
}
.modal-header{
    padding: 20px;
}

.modal-title{
    font-size: 20px;
    color: #0064b0;
    font-weight: bold;  
    line-height: normal;
    padding-left: 10px;
    font-family: 'Open Sans', sans-serif;
}
.modal-body p {
    color: #000000;
    font-weight: 600;  
    line-height: normal;
    padding-left: 10px;
    font-size: 16px;
    font-family:  'Open Sans', sans-serif;
}
.modal-footer {
    padding: 10px 20px;
}
.modal-body-flex{
    display: flex;
    justify-content: space-between;
}

.modal-body{
    padding: 20px;
    /* padding-top: 30px;  */
}

.modal-body input{
    width: 100%;
}
.select-widt input{
    width: 100%;
}

.bunttonsave button, .button-footerclose button{
    height: 40px;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;

}
.dropdown-option{
    background: #4267b2;
    padding: 6px 50px;
}
.btn-secondary:hover{
    color: #fff;
    background-color:#4267b2;
    border-color: #4267b2;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    color: #fff;
    background-color:#4267b2;
    border-color: #4267b2;
}
.dropdown-toggle::after{
    font-size: 20px;
}
.dropdown-item{
    border-bottom: 1px solid #ddd;
}
.box-action-footer button{
    padding: 0px 50px;
}
.select2-container--default .select2-selection--single{
    background: #f9fcff;
    border: 1px solid #d6dfe6;
}

.button-left-topheader{
    margin-top: 20px;
}
.images-employee{
    width: 49px;
    height: 63px;
}
.modal-body label{
    size: 14px;
    color: #000000;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
}
/* .modal-body p */
