.condition{
    background: #fff;
}
.bottom-select{
    display: flex;
flex-direction: column;
}
.padding-select-input{
    padding-top: 10px;
}
.form-delete{
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #d6dfe6;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    min-height: 40px;
}
.svg-inline--fa.fa-w-14{
    width: 1.875em
}
.padding-select-input a svg{
    font-size: 20px;
    color: #7d858e;
    
}
.padding-select-input{
    display: flex;
}
.padding-select-input a{
    padding-top: 10px;
}
.main-form-content{
    background-color: #ffffff;
    box-shadow: 0 0 8px 0 #d0d0d0;
    border-radius: 4px;
    /* min-height: 570px; */
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
.select-add-condition1{
    text-align: center;
}
.text-condition p{
    font-size: 14px;
  font-weight: 600;
  line-height: normal;
  color: #000000;
  font-family: 'Open Sans', sans-serif;

}
.main-form-condition{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    /* border-top: 1px solid #dae1ea; */
}

.btn-one{
    background-color: #ffffff;
    border-radius: 4px;
  border: solid 2px #0064b0;
  color: #0064b0;
  padding: 0px 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.btn-one:hover{
    background-color: #ffffff;
    border-radius: 4px;
  border: solid 2px #0064b0;
  color: #0064b0;
  padding: 0px 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;


}
.btn-tow{
  border-radius: 4px;
  background-color: #458aff;
  color: #ffffff;
  padding: 0px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  
}
.btn-three{
    color: #ffffff;
    border-radius: 4px;
  background-color: #4267b2;
  padding: 0px 40px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;



}
.footer-form-condition{
    padding-right: 10px;
    padding-left: 10px;
    border-top: 1px solid #dae1ea;
    padding-bottom: 20px;

}
.button-bottom{
    display: flex;
    justify-content: flex-end;
}
.button-bottom button{
    margin-right: 10px;
}
.tab-form{
    border-bottom: 1px solid #dae1ea;
}
.input-condition {
    padding-bottom: 10px;
}
.tow-button{
    display: flex;
    padding-left: 10px;
}

.tow-button button{
    margin-right: 10px;
}
.name-change p{
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    color: #000000;
    font-family: 'Open Sans', sans-serif;

}
.note-css{
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #d6dfe6;
    border-radius: .25rem;
    min-height: 80px;
    background-color: #f9fcff;
  font-family: 'Open Sans', sans-serif;

}
.row-search p{
    font-family: 'Open Sans', sans-serif;
}
.note{
    padding-top: 20px;
}
.note p{
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}
.modal-content{
    margin-top: 170px;
}
.btn-modal-cancle{
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 2px #0064b0;
    color: #0064b0;
    padding: 0px 40px;
}
.btn-modal-cancle:hover{
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 2px #0064b0;
    color: #0064b0;
    padding: 0px 40px;
}
.btn-modal-save{
    color: #ffffff;
    border-radius: 4px;
    background-color: #4267b2;
    padding: 0px 50px;
}
.btn-modal-save:hover{
    color: #ffffff;
    border-radius: 4px;
    background-color: #4267b2;
    padding: 0px 50px;
}
.button-bottomfile{
    padding-left: 10px;
}
.left-formsearch{
    padding-left: 10px;
    padding-top: 10px;
}
.img-backgroud{
    background-image: url('../images/plus-circle.png') ;
    background-repeat: no-repeat;
    background-position-x: 2%;
    background-position-y: 50%;
}
.input-condition input{
    padding-left: 40px;
}
.form-control-size{
    display: block;
    width: 135px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #d6dfe6;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    min-height: 40px;
}
@media only screen and (max-width: 768px){
    .left-form-condition{
        width: 100%;
    }
    .form-delete{
        width: 200px;
    }
    .button-bottom{
       display: flex;
       flex-direction: column;
    }
    .button-bottom button{
        margin-bottom: 10px;
     }
     .table-data{
        overflow-x: scroll;
        overflow-y: scroll;
        width: 100%;
     }
     .left-formsearch{
         width: 100%;
     }
     .center-form-condition{
         text-align: left;
     }
     .textp{
        padding-left: 0px;
        text-align: left;
        
     }
  
   
}
.textp{
    padding-left: 40px;
}
.icon-right{
    position: absolute;
    top: 110px;
    right: 40px;
}
.icon-right svg{
    color: #1c94f0;
    width: 26px;
    height: 26px;
}
.border-right-padding{
    border-right: 1px solid #dae1ea;
}
.button-header button{
    min-height: 40px;
    line-height: 28px;
    font-weight: bold;
    font-size: 16px;
    background-color: #ffffff;
    border: none;
    margin-right: 20px;
    color: #d0d0d0;
    margin-bottom: 10px;
}
.button-header button:focus{
    border: none;
}
@media only screen and(max-width: 768px){
    .select-add-condition{
        width: 100%;
    }
    .table-data{
        overflow-y: scroll;
        overflow-x: scroll;
    }
    .table-info{
        overflow-y: scroll;
        overflow-x: scroll;
    }
}
