.notification{
    right: 0px;
    left: auto;
    margin-top: 30px; 
    width: 402px;
  height: 498px;
  margin: 4px 23px 10px 284px;
  padding: 16px 0 24px 16px;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 #d0d0d0;
  background-color: #ffffff;
}
.notification-small{
   
    display: flex;
}
.notification-small p{
    font-size: 14px;
    letter-spacing: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-left: 10px;

}
.notification-small img{
    width: 36px;
    height: 36px;
    background-color: white;
}