.cus-tab{
    color: #d0d0d0;
    min-height: 40px;
    line-height: 28px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.cus-tab:hover{
    color: #000000;
    min-height: 40px;
    line-height: 28px;
    background-color: #d6eaff;
    border-radius: 9px;
    font-family: 'Open Sans', sans-serif;
}
.cus-tab:active{
    background-color: #d6eaff;
    color: #1e78bc;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    min-height: 40px;
    font-family: 'Open Sans', sans-serif;
}
.cus-tab:focus{
    background-color: #d6eaff;
    color: #1e78bc;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    min-height: 40px;
    font-family: 'Open Sans', sans-serif;
    border: none !important;
    outline: none;
    border-radius: 8px;
}
.right-formsearch{
    display: flex;
    justify-content: flex-end;
   
}
.right-formsearch svg{
    font-size: 30px;
    color: #1c94f0;

}
.form-searchtotal{
    background-color: #ffff;
    padding: 10px;
}
.firt-form{
    border-bottom: 1px solid #dae1ea
}
.row-search input{
    width: 100%;
    height: 40px;
    border: 1px solid #d6dfe6;
    background: #f9fcff;
    padding: 10px;
}
.five-form label{
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
}
.row-search label{
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.title-text{
    margin-top: 20px;
  
}
.title-text p {
    font-family: 'Open Sans', sans-serif;
}
.btn-resest{
    margin-right: 20px;
    color: #4267b2;
    
}
.custom-btn{
    padding:10px 50px;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

    /* border: solid 2px #0064b0; */
}
.right-buttonform{
    float: right;
}

.btn-getfile {
    background-color: #4267b2;
    font-size: 14px;
    color: #ffff;
    padding: 0px 10px;
    font-family: 'Open Sans', sans-serif;
}
.space-top{
    padding-top: 26px;
}
.btn-backgroudmadinhdanh{
    width: 100%;
    height: 40px;
    border: 1px solid #d6dfe6;
    padding: 10px;
}
.left-form-condition{
    border-right: 1px solid #dae1ea;
    padding-right: 30px;
}
.border-padding{
    border-right: 1px solid #dae1ea;
    padding-right: 30px;
    padding-bottom: 10px;
}
.input-condition{
    padding-top: 10px;
}
.table-main {
    padding-right: 0px;
    padding-left: 0px;
}
.row-text label{
    color: #000000;
    font-weight: normal;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.custom-btn1{
    padding: 10px 50px;
    border: solid 2px #0064b0;   
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;

}
@media only screen and (max-width: 768px){
    .right-buttonform{
        display: flex;
    }
    .custom-btn1{
        padding: 10px 43px
    }
}
